.dark-mode-toggle {
  margin: 0 auto;
  padding-bottom: 20px;
}

.btn.js-toggle-dark-mode {
  margin: 0 auto;
}

.label-brown:not(g) {
  background-color: #695154;
}

p.note, blockquote.note {
  background: rgba(114, 83, 237, 0.2);
  border-left: 4px solid #381885;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}

p.note::before, blockquote.note::before {
  color: #381885;
  content: "Note";
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

//set for the dark theme
[data-theme="dark"] {
  p.note, blockquote.note{
    background: rgba(143, 116, 237, 0.2);
    border-left: 4px solid #75688e;
  }

  p.note::before, blockquote.note::before {
    color: #a176f4;
  }
}
