
<div class="dark-mode-toggle">
	<button class="btn js-toggle-dark-mode">Dark Mode</button>
</div>


<script>
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', theme);
    const userPrefers = getComputedStyle(document.documentElement).getPropertyValue('content');

    const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

    if (theme === "dark") {
        setToggleTheme('dark');
    } else if (theme === "light") {
        setToggleTheme('light');
    } else if (userPrefers === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
        window.localStorage.setItem('theme', 'dark');
        setToggleTheme('dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
        window.localStorage.setItem('theme', 'light');
        setToggleTheme('light');
    }

    jtd.addEvent(toggleDarkMode, 'click', function(){
        const currentTheme = jtd.getTheme();
        const newTheme = currentTheme === 'dark' ? 'light' : 'dark';

        jtd.setTheme(newTheme);
        localStorage.setItem('theme', newTheme);
        setToggleTheme(newTheme);
    });

    function setToggleTheme(theme) {
        jtd.setTheme(theme);
        if (theme === 'dark') {
            toggleDarkMode.textContent = 'Light Mode';
        } else {
            toggleDarkMode.textContent = 'Dark Mode';
        }
    }
</script>